@page
@model IndexModel

<style>
  #map {
    height: 100%;
    width: 100%;
   }
</style>
<div id="map"></div>

<body>
<script src="~/js/map.js"></script>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=APIKEY2&callback=initMap">
    </script>
</body>